#myVideo {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    max-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    object-fit: cover;
    overflow: hidden;
}

.welcome {
    font-size: 5em;
    position: fixed;
    bottom: 50%;
    color: #fff;
    left: 40%;
}

header {
    position: fixed;
    bottom: 200px;
    width: 100%;
    text-align:center;
    padding: 10px;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 4em;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: 400;
}

.textwrapper {
    color: black;
    position: fixed;
    bottom: 100px;
    width: 100%;  
}

article {
    max-width: 960px;
    margin: auto;
    text-align:left;
}

body {
    font-family: 'Roboto', sans-serif;
}